.addBtn {
  background-color: var(--add-btn-color);
  color:var(--bg-boxes-color);
  padding: 8px 17px;
  transition: all .3s;
}

.addBtn:hover{
    background-color: #0c62a8;
    color: var(--bg-boxes-color);
}

.table tbody tr td{
  transition: all 0.2s ease !important;
}

.table tbody tr:hover > *{
  background-color: var(--bg-color) !important;
}




